.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-shape-1 {
  width: 1040px;
  height: 736px;
  background-image: linear-gradient(#5d5682, #26223f);
  margin: 40px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -666px auto 41px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-1 .u-shape-2 {
  width: 354px;
  height: 345px;
  margin: 0 auto 0 48px;
}

.u-section-1 .u-shape-3 {
  width: 354px;
  height: 364px;
  background-image: none;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  margin: -83px auto 0 93px;
}

.u-section-1 .u-image-1 {
  width: 285px;
  min-height: 334px;
  background-image: url("images/patterngrey.png");
  background-position: 50% 50%;
  margin: -464px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 385px;
  height: 486px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
  object-position: 100% 100%;
  background-position: 100% 100%;
  margin: -418px 34px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 322px;
  min-height: 68px;
  margin: -564px auto 65px 48px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 667px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 77px;
  padding-right: 92px;
}

.u-section-1 .u-image-3 {
  width: 306px;
  min-height: 86px;
  background-image: url("images/patternyelloew.png");
  background-position: 50% 50%;
  margin: 78px auto 0 -21px;
}

.u-section-1 .u-container-layout-5 {
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: -122px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 65px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 56px auto 65px 0;
  padding: 15px 43px 16px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-shape-1 {
    width: 858px;
    height: 696px;
    margin-top: 70px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-1 .u-shape-2 {
    width: 299px;
    height: 323px;
    margin-left: 33px;
  }

  .u-section-1 .u-shape-3 {
    width: 300px;
    height: 341px;
    margin-left: 69px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    margin-top: -441px;
  }

  .u-section-1 .u-image-2 {
    width: 316px;
    height: 435px;
    margin-top: -392px;
    margin-right: 29px;
  }

  .u-section-1 .u-group-2 {
    width: 291px;
    min-height: 66px;
    margin-top: -517px;
    margin-bottom: 532px;
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    position: relative;
    margin-top: 28px;
    margin-bottom: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 598px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 45px;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 252px;
    margin-top: 64px;
    margin-left: -28px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 16px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 49px;
    margin-right: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-shape-1 {
    width: 661px;
    height: 624px;
    margin-top: 38px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -590px;
    margin-bottom: 120px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-shape-2 {
    width: 271px;
    height: 301px;
    margin-left: 30px;
  }

  .u-section-1 .u-shape-3 {
    width: 243px;
    height: 319px;
    margin-left: 59px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    margin-top: -419px;
  }

  .u-section-1 .u-image-2 {
    width: 264px;
    height: 383px;
    object-position: 100% 50%;
    background-position: 100% 50%;
    margin-top: -350px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 271px;
    min-height: 69px;
    margin-top: -484px;
    margin-bottom: 453px;
    margin-left: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 183px;
    min-height: 61px;
    margin-top: 98px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: 294px;
    margin-top: -82px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-left: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-1 .u-shape-1 {
    height: 1402px;
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1342px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 718px;
  }

  .u-section-1 .u-shape-2 {
    width: 344px;
    height: 323px;
    margin-left: 23px;
  }

  .u-section-1 .u-shape-3 {
    width: 378px;
    height: 393px;
    margin-left: 44px;
  }

  .u-section-1 .u-image-1 {
    width: 275px;
    margin-top: -471px;
  }

  .u-section-1 .u-image-2 {
    width: 384px;
    height: 462px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-top: -407px;
    margin-right: 36px;
  }

  .u-section-1 .u-group-2 {
    width: 329px;
    min-height: 66px;
    margin-top: -551px;
    margin-bottom: 652px;
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 36px;
  }

  .u-section-1 .u-image-3 {
    width: 181px;
    min-height: 86px;
    margin-top: 60px;
    margin-left: -26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
    position: relative;
    margin-top: -122px;
    margin-right: 21px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 79px;
    margin-bottom: 44px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-1 .u-shape-1 {
    height: 1195px;
    margin-top: 98px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1233px;
    margin-bottom: 81px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-1 .u-shape-2 {
    width: 287px;
    height: 410px;
    margin-left: 14px;
  }

  .u-section-1 .u-shape-3 {
    width: 250px;
    height: 290px;
    margin-top: -119px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    min-height: 281px;
    margin-top: -363px;
  }

  .u-section-1 .u-image-2 {
    width: 265px;
    height: 360px;
    object-position: 100% 50%;
    background-position: 100% 50%;
    margin-top: -334px;
    margin-right: 13px;
  }

  .u-section-1 .u-group-2 {
    width: 246px;
    min-height: 70px;
    margin-top: -511px;
    margin-bottom: 568px;
    margin-left: 32px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 583px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 23px;
    padding-left: 51px;
  }

  .u-section-1 .u-image-3 {
    width: 275px;
    min-height: 48px;
    margin-top: 81px;
    margin-left: -37px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -63px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 64px;
    margin-bottom: 60px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 995px;
}

.u-section-2 .u-image-1 {
  height: 748px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  object-position: 0% 100%;
  background-position: 0% 100%;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -748px auto 63px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 962px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 349px;
  height: 493px;
  margin: 262px auto 0 -20px;
}

.u-section-2 .u-image-2 {
  width: 385px;
  height: 508px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  filter: brightness(0.9);
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.2);
  margin: -557px 5px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 183px;
  min-height: 124px;
  background-image: url("images/patternyelloew1.png");
  background-position: 50% 50%;
  margin: -193px -16px 119px auto;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 962px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-shape-2 {
  width: 292px;
  height: 430px;
  margin: -25px auto 0 36px;
}

.u-section-2 .u-image-4 {
  width: 386px;
  height: 416px;
  filter: brightness(0.95);
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.2);
  margin: -320px 36px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 222px;
  min-height: 156px;
  background-image: url("images/patternyelloew1.png");
  background-position: 50% 50%;
  margin: -118px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  line-height: 1;
  font-weight: 400;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 95px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 826px;
  }

  .u-section-2 .u-image-1 {
    height: 690px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -704px;
    margin-bottom: 88px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 793px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    height: 52px;
    width: 423px;
    min-height: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    height: 112px;
    width: 423px;
    min-height: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 288px;
    height: 439px;
    margin-top: 242px;
    margin-left: -16px;
  }

  .u-section-2 .u-image-2 {
    filter: brightness(0.95);
    min-height: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 793px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 23px;
    padding-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 309px;
    height: 417px;
    margin-top: -41px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 318px;
    height: 412px;
    margin-top: -291px;
    margin-right: 62px;
  }

  .u-section-2 .u-image-5 {
    width: 183px;
    min-height: 108px;
    margin-top: -70px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    line-height: 79px;
    width: auto;
    margin-top: 22px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 32px;
    margin-right: 9px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 133px;
  }

  .u-section-2 .u-image-1 {
    height: 910px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -910px;
    margin-bottom: 82px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    height: 104px;
    width: 319px;
  }

  .u-section-2 .u-text-2 {
    height: 140px;
    width: 319px;
  }

  .u-section-2 .u-shape-1 {
    width: 220px;
    height: 421px;
    margin-top: 191px;
    margin-left: -13px;
  }

  .u-section-2 .u-image-2 {
    width: 279px;
    height: 402px;
    margin-top: -453px;
    margin-right: 3px;
  }

  .u-section-2 .u-image-3 {
    width: 133px;
    min-height: 114px;
    margin-top: -178px;
    margin-right: -13px;
    margin-bottom: 194px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-shape-2 {
    width: 244px;
    height: 450px;
    margin-top: -25px;
    margin-left: -13px;
  }

  .u-section-2 .u-image-4 {
    width: 275px;
    height: 369px;
    object-position: 26.81% 50%;
    background-position: 26.81% 50%;
    margin-top: -327px;
    margin-right: 14px;
  }

  .u-section-2 .u-image-5 {
    width: 153px;
    min-height: 103px;
    margin-top: -35px;
    margin-right: -13px;
  }

  .u-section-2 .u-text-3 {
    line-height: 1;
    width: 319px;
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: 319px;
    margin-top: 33px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 233px;
  }

  .u-section-2 .u-image-1 {
    height: 815px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -815px;
    margin-bottom: -3px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    height: 52px;
    width: 522px;
  }

  .u-section-2 .u-text-2 {
    height: 84px;
    width: 522px;
  }

  .u-section-2 .u-shape-1 {
    width: 310px;
    height: 511px;
    margin-top: 240px;
    margin-left: -9px;
  }

  .u-section-2 .u-image-2 {
    width: 397px;
    height: 499px;
    margin-top: -572px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-2 .u-image-3 {
    width: 181px;
    min-height: 124px;
    margin-top: -245px;
    margin-right: -9px;
    margin-bottom: 222px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-shape-2 {
    width: 352px;
    height: 405px;
    margin-top: 0;
    margin-left: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 355px;
    height: 419px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-top: -356px;
    margin-right: 26px;
  }

  .u-section-2 .u-image-5 {
    width: 167px;
    min-height: 123px;
    margin-top: -63px;
    margin-right: -9px;
  }

  .u-section-2 .u-text-3 {
    line-height: 53px;
    margin-top: 40px;
    width: 522px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 35px;
    margin-bottom: 70px;
    width: 522px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 1087px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1087px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    height: 39px;
    width: 328px;
  }

  .u-section-2 .u-text-2 {
    height: 140px;
    width: 328px;
  }

  .u-section-2 .u-shape-1 {
    width: 240px;
    height: 328px;
    margin-top: 344px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-2 {
    width: 288px;
    height: 418px;
    margin-top: -484px;
    margin-right: 2px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 148px;
    min-height: 103px;
    margin-top: -219px;
    margin-right: -6px;
    margin-bottom: 256px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 278px;
    margin-left: 25px;
  }

  .u-section-2 .u-image-4 {
    width: 257px;
    height: 352px;
    margin-top: -319px;
    margin-right: 23px;
  }

  .u-section-2 .u-image-5 {
    width: 110px;
    min-height: 161px;
    margin-top: -126px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 74px;
    margin-left: 7px;
    margin-right: 7px;
    line-height: 40px;
    width: 326px;
  }

  .u-section-2 .u-text-4 {
    width: 328px;
    margin: 45px 6px 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 687px;
}

.u-section-3 .u-image-1 {
  width: 1002px;
  height: 400px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  margin: 178px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -619px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 113px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 464px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 33px;
}

.u-section-3 .u-text-1 {
  margin: 32px 0 0 40px;
}

.u-section-3 .u-text-2 {
  margin: 78px -2px 0 42px;
}

.u-section-3 .u-btn-1 {
  margin: 58px auto 45px 40px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 577px;
  background-image: none;
}

.u-section-3 .u-shape-1 {
  width: 465px;
  height: 422px;
  background-image: none;
  margin: 0 auto 0 21px;
}

.u-section-3 .u-image-2 {
  width: 459px;
  height: 436px;
  filter: brightness(0.85);
  object-position: 50% 0%;
  background-position: 50% 0%;
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.25);
  margin: -351px 0 71px auto;
}

.u-section-3 .u-group-1 {
  width: 464px;
  min-height: 68px;
  margin: -26px auto 70px 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-3 .u-image-1 {
    width: 826px;
    height: 375px;
    margin-top: 153px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -607px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 78px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 81px;
    margin-bottom: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 600px;
  }

  .u-section-3 .u-shape-1 {
    width: 339px;
    height: 340px;
    margin-left: 17px;
  }

  .u-section-3 .u-image-2 {
    width: 379px;
    height: 364px;
    margin-top: -269px;
    margin-bottom: 165px;
  }

  .u-section-3 .u-group-1 {
    width: 383px;
    margin-top: -45px;
    margin-bottom: 149px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 31px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-3 .u-image-1 {
    width: 650px;
    height: 349px;
    margin-top: 160px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -600px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 461px;
    z-index: 2;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 12px;
    width: 346px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 49px;
    margin-right: 13px;
    width: 346px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 61px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 552px;
    z-index: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 309px;
    height: 327px;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 293px;
    height: 333px;
    margin-bottom: 148px;
  }

  .u-section-3 .u-group-1 {
    width: 371px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 17px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-3 .u-image-1 {
    height: 678px;
    margin-top: 229px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -840px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 62px;
    margin-right: 0;
    width: 502px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 80px;
    margin-right: 0;
    width: 502px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 408px;
  }

  .u-section-3 .u-shape-1 {
    width: 437px;
    height: 340px;
    margin-top: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 446px;
    height: 337px;
    margin-bottom: 0;
  }

  .u-section-3 .u-group-1 {
    width: 275px;
    margin-top: 0;
    margin-bottom: 102px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-3 .u-image-1 {
    height: 998px;
    margin-top: 228px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1186px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 44px;
    width: 316px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 65px;
    width: 316px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-shape-1 {
    width: 301px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 288px;
    height: 312px;
    margin-top: -281px;
    margin-bottom: 25px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 195px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-image-1 {
  height: 331px;
  margin-top: -117px;
  margin-bottom: 0;
  margin-left: 0;
  object-position: 50% 0%;
  background-position: 50% 0%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 355px;
    margin-top: -204px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    height: 273px;
    margin-top: -122px;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 585px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -31px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 646px;
}

.u-section-5 .u-shape-1 {
  width: 283px;
  height: 272px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 201px;
  min-height: 234px;
  background-image: url("images/patterndark.png");
  background-position: 50% 50%;
  margin: -126px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-5 .u-image-2 {
  width: 272px;
  height: 390px;
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.25);
  margin: -336px auto 0 44px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  font-style: italic;
  width: 272px;
  margin: 38px auto 44px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 646px;
}

.u-section-5 .u-shape-2 {
  width: 283px;
  height: 262px;
  background-image: none;
  margin: 172px 0 0 auto;
}

.u-section-5 .u-image-3 {
  width: 255px;
  min-height: 226px;
  background-image: url("images/patterndark.png");
  background-position: 50% 50%;
  margin: -434px auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  margin-bottom: 0;
}

.u-section-5 .u-image-4 {
  width: 272px;
  height: 336px;
  box-shadow: 2px 2px 40px 0 rgba(38,34,63,0.2);
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -182px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  margin: 92px 44px 44px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 646px;
  background-image: none;
}

.u-section-5 .u-shape-3 {
  width: 283px;
  height: 272px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-5 {
  width: 201px;
  min-height: 234px;
  background-image: url("images/patterndark.png");
  background-position: 50% 50%;
  margin: -126px auto 0 0;
}

.u-section-5 .u-container-layout-6 {
  margin-bottom: 0;
}

.u-section-5 .u-image-6 {
  width: 272px;
  height: 390px;
  box-shadow: 2px 2px 40px 0 rgba(26,26,26,0.25);
  margin: -336px auto 0 44px;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  width: 272px;
  margin: 38px auto 44px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-5 .u-shape-1 {
    width: 233px;
  }

  .u-section-5 .u-image-1 {
    width: 166px;
  }

  .u-section-5 .u-image-2 {
    width: 224px;
    margin-left: 36px;
  }

  .u-section-5 .u-text-1 {
    width: 224px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-5 .u-shape-2 {
    width: 233px;
  }

  .u-section-5 .u-image-3 {
    width: 210px;
  }

  .u-section-5 .u-image-4 {
    width: 225px;
  }

  .u-section-5 .u-text-2 {
    width: 225px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 627px;
  }

  .u-section-5 .u-shape-3 {
    width: 233px;
  }

  .u-section-5 .u-image-5 {
    width: 165px;
  }

  .u-section-5 .u-image-6 {
    width: 225px;
    margin-left: 36px;
  }

  .u-section-5 .u-text-3 {
    width: 225px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-bottom: -71px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-5 .u-shape-1 {
    width: 179px;
  }

  .u-section-5 .u-image-1 {
    width: 127px;
  }

  .u-section-5 .u-image-2 {
    width: 172px;
    height: 291px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: 172px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 721px;
  }

  .u-section-5 .u-shape-2 {
    width: 179px;
    height: 208px;
  }

  .u-section-5 .u-image-3 {
    width: 161px;
    margin-top: -380px;
  }

  .u-section-5 .u-image-4 {
    width: 172px;
    height: 291px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 69px 7px 70px 41px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 721px;
  }

  .u-section-5 .u-shape-3 {
    width: 179px;
  }

  .u-section-5 .u-image-5 {
    width: 127px;
  }

  .u-section-5 .u-image-6 {
    width: 172px;
    height: 291px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin: 73px 20px 70px 28px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 746px;
  }

  .u-section-5 .u-shape-1 {
    width: 168px;
  }

  .u-section-5 .u-image-1 {
    width: 351px;
    min-height: 305px;
  }

  .u-section-5 .u-image-2 {
    width: 328px;
    height: 461px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin-top: -391px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin: 51px 168px 44px 44px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 746px;
  }

  .u-section-5 .u-shape-2 {
    width: 168px;
    height: 262px;
    margin-top: 130px;
  }

  .u-section-5 .u-image-3 {
    width: 151px;
    margin-top: -392px;
  }

  .u-section-5 .u-image-4 {
    width: 301px;
    height: 454px;
    margin-top: -175px;
    margin-left: 71px;
  }

  .u-section-5 .u-text-2 {
    margin: 51px 168px 60px 71px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 746px;
  }

  .u-section-5 .u-shape-3 {
    width: 212px;
    margin-top: 126px;
  }

  .u-section-5 .u-image-5 {
    width: 232px;
    min-height: 380px;
    margin-top: -398px;
  }

  .u-section-5 .u-image-6 {
    width: 301px;
    height: 379px;
    margin-top: -296px;
    margin-right: auto;
    margin-left: 71px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 22px;
    margin-right: 168px;
    margin-left: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2123px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 682px;
  }

  .u-section-5 .u-shape-1 {
    width: 141px;
  }

  .u-section-5 .u-image-1 {
    width: 100px;
    min-height: 234px;
  }

  .u-section-5 .u-image-2 {
    width: 226px;
    height: 384px;
    margin-top: -309px;
    margin-left: auto;
    object-position: 50% 50%;
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    width: 226px;
    margin: 44px auto 28px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 702px;
  }

  .u-section-5 .u-shape-2 {
    width: 162px;
    height: 227px;
    margin-top: 172px;
  }

  .u-section-5 .u-image-3 {
    width: 127px;
    margin-top: -399px;
  }

  .u-section-5 .u-image-4 {
    width: 226px;
    height: 402px;
    margin-top: -169px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 226px;
    margin: 44px auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 696px;
  }

  .u-section-5 .u-shape-3 {
    width: 141px;
    margin-top: 108px;
  }

  .u-section-5 .u-image-5 {
    width: 171px;
    margin-top: -380px;
  }

  .u-section-5 .u-image-6 {
    width: 226px;
    height: 390px;
    margin-top: -316px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: 226px;
    margin: 36px auto 51px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-image-1 {
  height: 317px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
  background-position: 50% 100%;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-left: initial;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 728px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 22px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 735px;
}

.u-section-7 .u-shape-1 {
  width: 409px;
  height: 345px;
  margin: 0 auto 0 37px;
}

.u-section-7 .u-shape-2 {
  width: 407px;
  height: 350px;
  background-image: none;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  margin: -27px 37px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 285px;
  min-height: 334px;
  background-image: url("images/patternyelloew.png");
  background-position: 50% 50%;
  margin: -502px 0 0 auto;
}

.u-section-7 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-7 .u-image-2 {
  width: 495px;
  height: 505px;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.5);
  object-position: 100% 100%;
  background-position: 100% 100%;
  margin: -423px auto 124px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 735px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 77px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 52px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 56px auto 152px 0;
  padding: 15px 43px 16px 42px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-7 .u-shape-1 {
    width: 337px;
    margin-left: 31px;
  }

  .u-section-7 .u-shape-2 {
    width: 336px;
    margin-right: 31px;
  }

  .u-section-7 .u-image-1 {
    width: 235px;
  }

  .u-section-7 .u-image-2 {
    width: 408px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-7 .u-shape-1 {
    width: 277px;
    height: 305px;
    margin-left: 27px;
  }

  .u-section-7 .u-shape-2 {
    width: 297px;
    height: 244px;
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-7 .u-image-1 {
    width: 180px;
    min-height: 268px;
    margin-top: -396px;
  }

  .u-section-7 .u-image-2 {
    width: 343px;
    height: 380px;
    object-position: 100% 50%;
    background-position: 100% 50%;
    margin-top: -311px;
    margin-bottom: 167px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 28px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 767px;
  }

  .u-section-7 .u-shape-1 {
    width: 381px;
    height: 345px;
    margin-left: 18px;
  }

  .u-section-7 .u-shape-2 {
    width: 435px;
    height: 350px;
    margin-right: 28px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    width: 169px;
    min-height: 334px;
    margin-top: -502px;
  }

  .u-section-7 .u-image-2 {
    width: 449px;
    height: 505px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-top: -423px;
    margin-bottom: 155px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 697px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 36px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    position: relative;
    font-weight: 400;
    margin-top: 91px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-7 .u-shape-1 {
    width: 203px;
    margin-left: 11px;
  }

  .u-section-7 .u-shape-2 {
    width: 260px;
    height: 281px;
    margin-top: -111px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 158px;
    min-height: 219px;
    margin-top: -370px;
    margin-right: auto;
    margin-left: 198px;
  }

  .u-section-7 .u-image-2 {
    width: 299px;
    height: 371px;
    object-position: 100% 50%;
    background-position: 100% 50%;
    margin-top: -288px;
    margin-bottom: 116px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 11px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 470px;
}

.u-section-8 .u-shape-1 {
  width: 702px;
  height: 245px;
  margin: 60px auto 0 102px;
}

.u-section-8 .u-image-1 {
  width: 518px;
  min-height: 266px;
  background-image: url("images/patternyelloew.png");
  background-position: 50% 50%;
  margin: -177px 52px 0 auto;
}

.u-section-8 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-8 .u-group-2 {
  width: 908px;
  min-height: 276px;
  background-image: none;
  margin: -318px auto 45px;
}

.u-section-8 .u-text-1 {
  margin: 30px 20px 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  margin: 32px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-8 .u-shape-1 {
    width: 343px;
    margin-left: 84px;
  }

  .u-section-8 .u-image-1 {
    width: 398px;
    min-height: 254px;
    margin-right: 72px;
  }

  .u-section-8 .u-group-2 {
    width: 749px;
    margin-top: -310px;
    margin-bottom: 72px;
    margin-left: 96px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-shape-1 {
    width: 321px;
    margin-left: 6px;
  }

  .u-section-8 .u-image-1 {
    width: 360px;
    min-height: 240px;
    margin-right: 0;
  }

  .u-section-8 .u-group-2 {
    width: 573px;
    margin-top: -296px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-8 .u-shape-1 {
    width: 439px;
    height: 196px;
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 423px;
    min-height: 183px;
    margin-top: -27px;
  }

  .u-section-8 .u-group-2 {
    width: 485px;
    min-height: 285px;
    margin-top: -338px;
    margin-bottom: 109px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-8 .u-shape-1 {
    width: 267px;
    height: 245px;
    margin-top: 40px;
  }

  .u-section-8 .u-image-1 {
    width: 257px;
    min-height: 266px;
    margin-top: -189px;
  }

  .u-section-8 .u-group-2 {
    width: 305px;
    min-height: 276px;
    margin-top: -303px;
    margin-bottom: 86px;
    margin-left: 18px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}